#!/usr/bin/expect

spawn {{ nebula_install_destination}}/nebula-cert sign -name "$env(NODE_NAME)" -ip "$env(NODE_IP)/$env(NODE_NETWORK)" -duration "{{ nebula_client_cert_duration }}" -out-crt "{{ nebula_install_destination}}/$env(NODE_NAME).crt"
expect "Enter passphrase: \n"
send -- "{{ nebula_ca_password }}\r"
expect eof
